
/* Section One */
.section-one{
    background: url(../images/banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    height: 100vh;
    padding: 30px 0;
    overflow: hidden;
}
.section-one .header{
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 999;
    top: 30px;
    left: 0;
}
.section-one .header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-bg);
    border-radius: 40px;
    padding: 0 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.section-one .inner-list{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.section-one .inner-list ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.section-one .inner-list ul li a{
    color: var(--color-text);
    padding: 30px 20px;
    display: inline-block;
    font-size: 15px;
}
.section-one .inner-list ul li a:hover{
    color: var(--color-pink);
}
.section-one .inner-content .inner-title{
    color: var(--color-white);
    font-size: 35px;
    margin-bottom: 25px;
}
.section-one .inner-desc{
    color: var(--color-white);
}
.section-one .inner-content{
    margin-top: 150px;
    margin-bottom: 60px;
}
.section-one .header .inner-menu-mobi{
    display: none;
}
@media (max-width: 991.98px) {
    .section-one .header .inner-list{
        display: none;
    }
    .section-one .header .inner-menu-mobi{
        display: block;
    }
    .section-one .header .inner-menu-mobi i{
        padding: 32px 20px;
        font-size: 25px;
        color: var(--color-black);
    }
} 
/* End Section One */

/* Button */
.button{
    color: var(--color-white);
    background: var(--color-pink);
    display: inline-block;
    padding: 5px 25px;
    border-radius: 45px;
    position: relative; /* Đảm bảo không che vùng cuộn */
    z-index: auto;
}
.button-one:hover{
    background: var(--color-purple);
    color: var(--color-white);
}
.button-two{
    padding: 10px 20px;
    font-size: 15px;
    background: var(--color-pink);
}
.button-two:hover{
    background: var(--color-purple);
    color: var(--color-white);
}
.button-mess{
    padding: 10px 20px;
}
.button-mess:hover{
    background: var(--color-purple);
    color: var(--color-white);
}
/* End Button */

/* Section Two */
.section-two{
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 25px;
}
.section-two .box-content{
    position: relative;
    top: -200px;
}
.section-two .inner-box{
    background: var(--color-white);
    width: 100%;
    height: auto;
    border-radius: 15px;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 15px;
    padding: 20px;
}
.section-two .inner-box .inner-logo{
    background: var(--color-purple);
    width: 85px;
    height: 85px;
    object-fit: cover;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.section-two .inner-box:hover .inner-logo{
    background: var(--color-pink);
}
.section-two .inner-title{
    color: var(--color-black);
    margin: 20px 0;
    font-size: 20px;
}
.section-two .inner-text{
    font-size: 15px;
    margin: 0;
    text-align: center;
}
@media (max-width: 991.98px) {
    .section-two .box-content{
        top: 0;
    }
}
/* End Section Two */

/* Section Three */
.section-three .inner-logo{
    text-align: center;
    width: 100%;
    height: auto;
}
.section-three .inner-logo img{
    object-fit: cover;
    max-width: 100%;
    height: auto;
}
.section-three .container{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    padding-bottom: 80px;
}
.section-three .inner-title{
    color: var(--color-black);
    font-size: 28px;
    margin: 25px 0;
}
.section-three .inner-desc{
    font-size: 18px;
}
/* End Section Three */

/* Section Four */
.section-four{
    padding: 80px 0;
}
.section-four .inner-logo{
    text-align: center;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.section-four .inner-logo img{
    object-fit: cover;
}
.section-four .inner-title{
    color: var(--color-black);
    font-size: 28px;
    margin: 25px 0;
}
.section-four .inner-desc{
    font-size: 18px;
}
/* End Section Four */

/* Section Five */
.section-five{
    background: url(../images/work-process-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 80px 0;
}
.section-five .inner-content{
    text-align: center;
}
.section-five .inner-content .inner-title{
    color: var(--color-white);
    margin: 25px 0;
}
.section-five .inner-content .inner-desc{
    color: var(--color-white);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 40px;
}
.section-five .inner-logo img{
    width: 35px;
    height: 35px;
    object-fit: cover;
}
.section-five .inner-box{
    background: var(--color-bg);
    padding: 15px;
    width: 100%;
    height: auto;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 25px;
    position: relative;
}
.section-five .inner-box::after{
    content: "";
    background: var(--color-bg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0.3;
    border-radius: 15px;
    
}
.section-five .inner-box .inner-content{
    position: relative;
}
.section-five .inner-box .inner-title{
    color: var(--color-black);
    margin-bottom: 10px;
    font-size: 15px;
}
.section-five .inner-box .inner-text{
    font-size: 15px;
}
/* End Section Five */
/* Section Six */
.section-six{
    padding: 80px 0;
}
.section-six .inner-content{
    text-align: center;
    margin-bottom: 25px;
}
.section-six .inner-title{
    color: var(--color-black);
}
.section-six .inner-desc{
    font-size: 15px;
}
.section-six .inner-box{
    width: 100%;
    height: auto;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.section-six .inner-box .inner-mess{
    text-align: center;
    padding: 15px;
}
.section-six .inner-box .inner-mess i{
    font-size: 30px;
    color: var(--color-purple);
}
.section-six .inner-box .inner-text{
    font-size: 15px;
    padding: 15px;
}
.section-six .inner-box .inner-infor{
    display: flex;
    align-items: center;
}
.section-six .inner-box .inner-logo{
    margin-right: 15px;
}
.section-six .inner-box .inner-logo img{
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 50%;
}
.section-six .inner-box .inner-job .inner-name{
    margin: 0;
    font-size: 16px;
    color: var(--color-black);
}
.section-six .inner-box .inner-job .inner-work{
    font-size: 12px;
    color: var(--color-pink);
}
/* End Section Six */

/* Section Seven */
.section-seven{
    background: var(--color-bg-1);
    padding: 80px 0;
}
.section-seven .inner-content{
    text-align: center;
    margin-bottom: 50px;
}
.section-seven .inner-content .inner-title{
    color: var(--color-black);
    font-size: 25px;
    font-weight: 500;
}
.section-seven .inner-content .inner-desc{
    font-size: 17px;
}
.section-seven .inner-sale{
    background: var(--color-bg);
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.section-seven .inner-sale .inner-rank{
    font-size: 17px;
    color: var(--color-black);
    margin: 0;
}
.section-seven .inner-sale .inner-money{
    background: var(--color-purple);
    width: 100%;
    height: auto;
    padding: 25px;
    border-radius: 20px;
    margin: 30px;
    text-align: center;
}
.section-seven .inner-sale .bg-money-2{
    background: var(--color-pink);
}
.section-seven .inner-sale .inner-money .inner-price{
    color: var(--color-white);
    font-size: 30px;
    font-weight: 600;
}
.section-seven .inner-sale .inner-day{
    color: var(--color-white);
    font-size: 20px;
}
.section-seven .inner-sale .inner-list{
    margin-bottom: 25px;
}
.section-seven .inner-sale .inner-list ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.section-seven .inner-sale .inner-list ul li{
    margin-bottom: 10px;
}
/* End Section Seven */

/* Section Eight */
.section-eight{
    background: url(../images/fun-facts-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 100px 0;
}
.section-eight .inner-number{
    color: var(--color-white);
    font-weight: 700;
    font-size: 40px;
}
.section-eight .inner-text{
    color: var(--color-white);
    font-weight: 600;
}
.section-eight .project{
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    margin-bottom: 15px;
}
.section-eight .project::after{
    content: "";
    background: url(../images/circle-dec.png);
    display: block;
    width: 100px;
    height: 20px;
    object-fit: cover;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    top: 50%;
    left: calc(100% - 30px);
}
.section-eight .customer{
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    margin-bottom: 15px;
}
.section-eight .customer::after{
    content: "";
    background: url(../images/circle-dec.png);
    display: block;
    width: 100px;
    height: 20px;
    object-fit: cover;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    top: 40%;
    left: calc(100% - 30px);
}

.section-eight .Win{
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    margin-bottom: 15px;
}
.section-eight .Win::after{
    content: "";
    background: url(../images/circle-dec.png);
    display: block;
    width: 100px;
    height: 20px;
    object-fit: cover;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    top: 50%;
    left: calc(100% - 30px);
}
.section-eight .countrie{
    text-align: center;
}
@media (max-width: 991.98px) {
    .section-eight .project::after{
        display: none;
    }
    .section-eight .customer::after{
        display: none;
    }
    .section-eight .Win::after{
        display: none;
    }
    .section-eight .project{
        margin-bottom: 25px;
    }
    .section-eight .customer{
        margin-bottom: 25px;
    }
}
/* End Section Eight */

/* Section Nine */
.section-nine{
    padding: 100px 0;
}
.section-nine .inner-content{
    text-align: center;
    margin-bottom: 50px;
}
.section-nine .inner-content .inner-title{
    color: var(--color-black);
    font-size: 30px;
    padding: 15px 0;
}
.section-nine .inner-content .inner-desc{
    font-size: 15px;
}
.section-nine .inner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.section-nine .inner-box .inner-logo img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.section-nine .inner-box .inner-title{
    margin: 20px 0;
    color: var(--color-black);
    font-size: 18px;
}
.section-nine .inner-box .inner-title:hover{
    color: var(--color-pink);
}
.section-nine .inner-box .inner-title::selection{
    color: var(--color-white);
}
.section-nine .inner-box .inner-desc{
    font-size: 13px;
    text-align: center;
    margin-bottom: 25px;
}

/* End Section Nine */

/* Contact Form */
.contact-form{
    padding: 100px 0;
    background: var(--color-bg-1);
}
.contact-form .box-head{
    text-align: center;
    margin-bottom: 35px;
}
.contact-form .box-head .inner-title{
    color: var(--color-black);
    margin-bottom: 25px;
}
.contact-form .inner-intro{
    margin-bottom: 30px;
}
.contact-form .inner-intro .inner-title{
    color: var(--color-black);
    margin: 0;
}
.contact-form .inner-link{
    text-align: center;
    margin-top: 35px;
}
.contact-form .inner-intro .inner-desc{
    margin-top: 35px;
    margin-bottom: 0;
}
.contact-form .inner-form .inner-infor{
    padding: 22px;
    border-radius: 25px;
    border: none;
}
.contact-form .inner-form .inner-massage{
    border: none;
    border-radius: 25px;
    overflow: hidden;
    height: 150px;
    padding: 22px;
    resize: none;
}
@media (max-width: 767.98px) {
    .contact-form .inner-link{
        text-align: left;
    }
}
/* End Contact Form */

/* Footer */
.footer-social{
    background: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
    padding: 50px;
}
.footer-social .inner-social ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
.footer-social .inner-social ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

}
.footer-social .inner-social ul li i{
    color: var(--color-purple);
}
.footer-social .inner-social ul li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: var(--color-white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}
.footer-social .inner-social ul li a:hover{
    background: var(--color-pink);
}
.footer-social .inner-social ul li a:hover i{
    color: var(--color-white);
}
.footer-social .inner-social{
    border-bottom:  1px solid rgba(250, 250, 250, 0.2);
}
.footer-social .inner-cre{
    margin-top: 20px;
    text-align: center;
}
.footer-social .inner-cre .inner-text{
    color: var(--color-white);
    font-size: 15px;
}
/* End Footer */